.calculadora {
    background: rgb(13, 145, 31);
    width: 200px;
    padding: 10px;
}
#btnCalc {
    background: rgb(52, 236, 92);
    color: white;
    padding: 5px;
}
#btnCalc:hover {
    background: rgb(6, 90, 24);
    color: black;
    cursor: pointer;
}
.spResultado{
    background: black;
    color: yellow;
    padding: 4px;
    margin: 2px;
}
